<!DOCTYPE HTML>
<html>
  {% block head %}
    <head>    
      <link rel="stylesheet" href = "../lw5/content/style.css">
      <title>
        {% block title %}
        {% endblock %}
      </title>
    </head>
    <body>
  {% endblock %}
    <div class="container">
      <div id="header" class="header block_description">
        {% block header %}
        {% endblock %}
      </div>
      
      <div id="sidebar_left" class="sidebar block_description in_row">
        {% block sidebar_left %}
        {% endblock %}
      </div>
      
      <div id="content" class="content block_description in_row">
        {% block content %}
        {% endblock %}
      </div>
      
      <div id="sidebar_right" class="sidebar block_description in_row">
        {% block sidebar_right %}
        {% endblock %}
      </div>
      
      <div class="clear">
      </div>
      
      <div id="footer" class="footer block_description ">
      {% block footer %}
      {% endblock %}
      </div>
    </div>
  </body>
</html>
